body{
  text-align: center;
}
.ng-scope{
  border: ridge green 5px;
  display: table;
  width: 99%;
  margin: 0px auto;
  text-align: center;
}

.results{
  text-align: center;
  border: solid purple 5px;
  height: 400px;
  width: 30%;
  display: inline-block;;
}


img{
  width: 300px;;
  height: 300px;;
}
